$primary-color: #444;
$secondary-color: #eece1a;
$show-home-img: true;
$home-img: url(../img/background.jpg);

@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin bgImg {
  @if $show-home-img {
    &#bg-img {
      background: $home-img no-repeat fixed center/cover;
      &::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        content: '';
        background: rgba($primary-color, 0.5);
        z-index: -1;
      }
    }
  }
}
