header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include easeOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: set-text-color($primary-color);
    border-radius: 2px;
    @include easeOut;
  }
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // @include easeOut;
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
        // display: none;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu-area {
  position: fixed;
  // z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  visibility: hidden;
  display: flex;
  &.show {
    visibility: visible;
    .main-menu {
      transform: translate3d(0, 0, 0);
      li {
        transform: translate(0, 0);
      }
    }
    .menu_img {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      background: url('../img/portrait.jpg');
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
  .menu_img,
  .main-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /*     float: left; */
    /*     width: 50%; */
    flex: 1;
    height: 100vh;
    overflow: hidden;
  }
  .main-menu {
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    background: darken($primary-color, 2);
    @for $x from 1 through 4 {
      li:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
      }
    }
    li {
      transform: translate(600px, 0);
      @include easeOut;
      &.current a {
        color: $secondary-color;
      }
      a {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        color: set-text-color($primary-color);
        @include easeOut;
        // padding: 1rem 0;

        &:hover {
          color: $secondary-color;
        }
        .short-text {
          display: none;
        }
        @media (max-width: 640px) {
          .full-text {
            display: none;
          }
          .short-text {
            display: inline-block;
          }
        }
      }
    }
  }
  .menu_img {
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    background: rgba(darken($primary-color, 5), 0.5);
  }
}
#about-page .menu-area .menu_img {
  background: rgba(0, 0, 0, 0.8);
}

main {
  padding: 2rem;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .social_icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h2 {
      //  margin-top: 20vh;
    }
  }
}
