.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include easeOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    border-radius:2px;
    @include easeOut;
  }
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // @include easeOut;
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
        // display: none;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
