@include maxMd {
  main {
    padding: 2rem;
    .lg-heading {
      /*    background:red; */
      font-size: 5rem;
    }
  }
}
@include max640 {
  .menu-area {
    flex-flow: column nowrap;

    .menu_img {
      transform: translate3d(-100%, 0, 0);
      flex-grow: 30;

      @include easeOut;
    }
    .main-menu {
      transform: translate3d(100%, 0, 0);
      flex-grow: 70;

      @include easeOut;
    }
    &.show {
      .portrait {
        background: url('../img/portrait_small.jpg') no-repeat center/cover;
        width: 150px;
        height: 150px;
      }
      .menu_img {
        transform: translate3d(0, 0, 0);
      }
      .main-menu {
        transform: translate3d(0, 0, 0);

        li a {
          font-size: 23px;
        }
      }
    }
  }
}

@include max425 {
  main {
    padding: 20px;
    .lg-heading {
      font-size: 47px;
      margin-bottom: 6px;
    }
  }
}
