@import 'config';
/*======================
Common Css Starts 
========================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* line-height: 1.5em; */
}

body {
  @include bgImg();
  background-color: $primary-color;
  color: #1f1f1f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}
.containerC {
  margin: 0 auto;
  max-width: 1280px;
  width: 94%;
}
img,
video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Source Sans Pro", sans-serif; */
  font-weight: 400;
  /* font-size: unset; */
}
.lg-heading {
  font-size: 6rem;
}
.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(lighten($primary-color, 2), 0.5);
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: inline-block;
  list-style: none;
}

input,
button,
textarea {
  /* padding: 10px 20px; */
  /* background: #fafafa; */
  resize: none;
}
/*=======================
    Common Css Ends 
    =========================*/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  height: 100%;

  .social_icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h2 {
      margin-top: 20vh;
    }
  }
}
